/* products */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 1 1 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.product{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product p, .product-price {
  padding: 2.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
}

.product a {
  margin-bottom: -12.5%;
}

.product a:hover {
  opacity: 0.75;
  color: rgb(39, 68, 114);
  text-decoration: none;
  transition-duration: 1s;
}

.product img {
  max-width: 100%;
  max-height: 25rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button_primary{
  background-color: rgb(40,44,52);
  border-color: black;
  width: 100%;
  color: white;
  border: 1px solid;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  font-size: 1.1rem;
}

.button_primary:hover{
  background-color: rgb(16, 21, 29);
  border-color: black;
  transition-duration: 1s;
}

.product-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 5vh;
}

.img-container{
  display: flex;
  flex-direction: row;
}

.img-container img {
  margin: 0 auto;
  width: 500px;

}

.product-details img {
  max-height:100vh;
  max-width: 46rem;
  margin: 0 auto;
  border-radius: 10px;
}

.img-slide img{
width: 150px;
margin: 2%;
justify-items: center;
align-items: center;
border-radius: 10px !important;
}

.ModalSize {
  position: absolute;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.modal-title {
  font-size: 25px;
}

.close-modal{
  background-color: rgb(40,44,52);
  border: 1px solid rgb(0, 0, 0);
  color:white;
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index:9999;
  outline: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.button_primary_modal{
  background-color: rgb(250, 171, 0);
  color: white;
  border: 1px solid rgb(0, 0, 0);;
  padding: .15rem;
  line-height: 1.5;
  border-radius: .25rem;
  font-size: 1rem;
}

.button_primary_available_sizes{
  background-color: rgb(40,44,52);
  color: white;
  border: 1px solid rgb(0, 0, 0);
  padding: .15rem;
  line-height: 1.5;
  border-radius: .25rem;
  font-size: 1rem;
}

@media screen and (max-width: 1750px ) {

  .img-container img {
    margin: 0 auto;
    width: 
    450px;
  }

  .product p, .product-price {
    padding: 2rem;
  }
}

@media screen and (max-width: 1556px ) {
  .mainShoppingCart {
    flex: 4 30rem;
  }

  .img-container img {
    margin: 0 auto;
    width: 350px;
  }

  .product p, .product-price {
    padding: 1.75rem;
  }
}

@media screen and (max-width: 1336px ) {
  .mainShoppingCart {
    flex: 4 30rem;
  }

  .img-container img {
    margin: 0 auto;
    width: 270px;
  }

  .product p, .product-price {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 1100px ) {
  .sidebarShoppingCart {
    margin-top: 1%;
  }

  .product a {
    margin-bottom: -7%;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
  }

  .img-container img {
    margin: 0 auto;
    width: 225px;
  }

  .product p, .product-price {
    padding: 1rem;
  }

}

@media screen and (max-width: 1051px ) {
  .sidebarShoppingCart {
    margin-top: 2.5%;
  }

  .img-container {
    flex-direction: column;
  }

  .img-container img {
    margin: 1% auto;
    width: 100%;
  }

  .product p, .product-price {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 815px ) {
  .sidebarShoppingCart {
    margin-top: 2.5%;
  }

  .img-container {
    flex-direction: column;
  }

  .img-container img {
    margin: 1% auto;
    width: 100%;
  }

  .product p, .product-price {
    padding: 1rem 2rem 2rem  2rem ;
  }

}


@media screen and (max-width: 768px ) {
  .product a {
    margin-bottom: -12.5%;
  }

  .img-container {
    flex-direction: column;
  }

  .img-container img {
    margin: 1% auto;
    width: 100%;
  }

  .product-details-description{
    width: 100%;
    margin: 0.5rem;
  }
}

@media screen and (max-width: 550px ) {
  .product a {
    margin-bottom: -12.5%;
  }

  .img-container {
    flex-direction: column;
  }

  .img-container img {
    margin: 1% auto;
    width: 100%;
  }

  .ModalSize {
    position: absolute;
    top: 60px;
    left: 30px;
    right: 30px;
    bottom: 60px;
  }
}